In [1]:
import numpy as np
import pandas as pd
from hydra.utils import get_original_cwd
import os
import re
from tqdm import tqdm

In [2]:
local_path = os.path.normpath(os.getcwd() + os.sep + os.pardir)

In [3]:
train_txt_path = local_path + "/data/unsupervised_train.txt"
test_txt_path = local_path + "/data/unsupervised_test.txt"

In [7]:
test_output_path = local_path + "/data/unsupervised_test_filtered.txt"
train_output_path = local_path + "/data/unsupervised_train_filtered.txt"

In [9]:
def filter_txt(input_path, output_path):
    print("Filtering", input_path, "to", output_path)
    count = 0
    bad_lines = pd.DataFrame()
    pattern1 = r"<RECIPE_START>"
    pattern2 = r"<RECIPE_END>"
    with open(input_path, 'r') as f_in:
        with open(output_path, 'w') as f_out:
            for i, row in tqdm(enumerate(f_in), desc="Filtering"):
                if re.search(pattern1, row) and re.search(pattern2, row):
                    f_out.write("{}\n".format(row))
                    continue
                else:
                    d = {'index': i,
                         'txt': row}
                    new_row = pd.DataFrame(d, index=[0])
                    bad_lines = pd.concat([bad_lines, new_row]).reset_index(drop=True)
                    count += 1
    print('count', count)
    return bad_lines

In [10]:
df = filter_txt(test_txt_path, test_output_path)
df.head()

Filtering /home/kevin/code/udem/6289ift/project/data/unsupervised_test.txt to /home/kevin/code/udem/6289ift/project/data/unsupervised_test_filtered.txt

Filtering: 106573it [00:01, 71789.33it/s]

count 1871

   index                                                txt
0     18  <RECIPE_START> <INPUT_START> lemon cake <NEXT_...
1     19                                                 \n
2     20  You will need to divide each of these two laye...
3     21                                                 \n
4     22  In a large saucepan (much larger than you thin...

In [11]:
df = filter_txt(train_txt_path, train_output_path)
df.head()

Filtering /home/kevin/code/udem/6289ift/project/data/unsupervised_train.txt to /home/kevin/code/udem/6289ift/project/data/unsupervised_train_filtered.txt

Filtering: 2022300it [00:39, 51351.46it/s]

count 33431

   index                                                txt
0    318  <RECIPE_START> <INPUT_START> Berry Basil <NEXT...
1    319                                                 \n
2    320  Optional: Garnish with dollops of sour cream, ...
3    424  <RECIPE_START> <INPUT_START> Arugula <NEXT_INP...
4    425                                                 \n